[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons
[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/PunishXIV/PunishLib
[submodule "NightmareUI"]
	path = NightmareUI
	url = https://github.com/NightmareXIV/NightmareUI
[submodule "ffxiv_pictomancy"]
	path = ffxiv_pictomancy
	url = https://github.com/Limiana/ffxiv_pictomancy
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/Limiana/FFXIVClientStructs
[submodule "ECommons.IPC"]
	path = ECommons.IPC
	url = https://github.com/NightmareXIV/ECommons.IPC
[submodule "WrathCombo.API"]
	path = WrathCombo.API
	url = https://github.com/PunishXIV/WrathCombo.API
[submodule "AutoRetainerAPI"]
	path = AutoRetainerAPI
	url = https://github.com/PunishXIV/AutoRetainerAPI
