[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons
[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/PunishXIV/PunishLib
[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/Limiana/Penumbra.Api
